
.title {
	text-align:center;
	font-size:50px;
}
.correct {
	color:green;
}

.incorrect {
	color:red;
}

h1.correct, h1.incorrect {
	width:250px;
}


.bg{
	background-image: url("../img/bg.jpg");
	background-size: 100% auto;
	height: 200px; 
}
.openning p {
	text-align: center;
	font-size: 22px;
}

p{
	text-align: center;
	margin-bottom: 50px;
}
.form-group{
	margin: 0px auto;
	width: 60%;
}

button.btn{
	margin-left: 40%;
	margin-top: 50px;
	background-color: lightblue;
	border-radius: 10px;
	padding: 10px;
}

button.btn:hover{
	cursor: pointer;
	background-color: yellow;
}